<ul class="ps-3 navbar-nav  bg-primary sidebar sidebar-dark accordion col-2 h-auto">
    <!-- header -->
 
    <!-- nav links START -->
   
    <hr class="sidebar-divider my-0">
    <li class="nav-item my-3">
        <a class="text-decoration-none" href="{% url 'booking_list' %}">
            <i class="fas fa-fw fa-calendar-check fa-2x"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="text-decoration-none" href="{% url 'booking_settings' %}">
            <i class="fas fa-fw fa-newspaper fa-2x"></i>
            
        </a>
    </li>
    <!-- nav links END -->
</ul>